{%- extends "layouts/master_layout.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Student</li>
            </ol>
        </nav>
        <div class="row mb-5">
            <div class="col  text-right">
                <span class="float-right"><a href="{{ url_for('.add_student') }}" class="btn btn-primary">Add New Student </a></span>  
            </div>
            
            

             <a href="{{ url_for('.course') }}" class="btn btn-primary">View Courses Table </a>
       
            <a href="{{ url_for('.college') }}" class="btn btn-primary">View Colleges Table </a></span>
      
   
        </div>
        <input type="text" id="myInput" maxlength="30" onkeyup="myFunction()" placeholder=" School ID.." >
        <input type="text" id="myInput1" maxlength="30" onkeyup="myFunction1()" placeholder=" First Name.." >
        <input type="text" id="myInput2" maxlength="30" onkeyup="myFunction2()" placeholder=" Last Name.." >
        <input type="text" id="myInput3" maxlength="30" onkeyup="myFunction3()" placeholder=" Course Code.." >
        <input type="text" id="myInput4" maxlength="30" onkeyup="myFunction4()" placeholder=" Year.." >
        <input type="text" id="myInput5" maxlength="30" onkeyup="myFunction5()" placeholder=" Gender.." >
      
        <div class="row mt-2">
            
            <table id="myTable">
                
                <tr class = "header">
                    <th>School ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
	                <th>Course Code</th>
                    <th>Year</th>
                    <th>Gender</th>
                    <th>Profile Picture</th>
	                <th></th>
                </tr>
	         
	        
		        {% for student in data %}
		            <tr>
			            <td>{{student[0]}}</td>
			            <td>{{student[1]}}</td>
			            <td>{{student[2]}}</td>
			            <td>{{student[3]}}</td>
                        <td>{{student[4]}}</td>
                        <td>{{student[5]}}</td>
                        <td><img src={{student[6]}} alt="Picture" width="100" height="100" class = "profile-picture"> </td>
                        <td>
                            <a style="text-decoration: none;" href="student/edit/{{student[0]}}">
                                <button 
                                class="btn btn-outline-primary rounded" 
                                style="padding: 5px 10px 5px 10px;">Edit</button>
                                </a>
            
                        </td>
                        <td><a href="student/delete/{{student[0]}}"><button onclick="return confirm('Are you sure to Delete data');" class="btn btn-danger">Delete </button> </a> </td>
		            </tr>
		        {% endfor %}

            </table>
            <script>
                function myFunction() {
                  // Declare variables
                  var input, filter, table, tr, td, i, txtValue;
                  input = document.getElementById("myInput");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("myTable");
                  tr = table.getElementsByTagName("tr");
                
                  // Loop through all table rows, and hide those who don't match the search query
                  for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                      txtValue = td.textContent || td.innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                      } else {
                        tr[i].style.display = "none";
                      }
                    }
                  }
                }
                function myFunction1() {
                  // Declare variables
                  var input, filter, table, tr, td, i, txtValue;
                  input = document.getElementById("myInput1");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("myTable");
                  tr = table.getElementsByTagName("tr");
                
                  // Loop through all table rows, and hide those who don't match the search query
                  for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                      txtValue = td.textContent || td.innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                      } else {
                        tr[i].style.display = "none";
                      }
                    }
                  }
                }
                function myFunction2() {
                  // Declare variables
                  var input, filter, table, tr, td, i, txtValue;
                  input = document.getElementById("myInput2");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("myTable");
                  tr = table.getElementsByTagName("tr");
                
                  // Loop through all table rows, and hide those who don't match the search query
                  for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                      txtValue = td.textContent || td.innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                      } else {
                        tr[i].style.display = "none";
                      }
                    }
                  }
                }
                function myFunction3() {
                  // Declare variables
                  var input, filter, table, tr, td, i, txtValue;
                  input = document.getElementById("myInput3");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("myTable");
                  tr = table.getElementsByTagName("tr");
                
                  // Loop through all table rows, and hide those who don't match the search query
                  for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[3];
                    if (td) {
                      txtValue = td.textContent || td.innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                      } else {
                        tr[i].style.display = "none";
                      }
                    }
                  }
                }
                function myFunction4() {
                  // Declare variables
                  var input, filter, table, tr, td, i, txtValue;
                  input = document.getElementById("myInput4");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("myTable");
                  tr = table.getElementsByTagName("tr");
                
                  // Loop through all table rows, and hide those who don't match the search query
                  for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[4];
                    if (td) {
                      txtValue = td.textContent || td.innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                      } else {
                        tr[i].style.display = "none";
                      }
                    }
                  }
                }
                function myFunction5() {
                  // Declare variables
                  var input, filter, table, tr, td, i, txtValue;
                  input = document.getElementById("myInput5");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("myTable");
                  tr = table.getElementsByTagName("tr");
                
                  // Loop through all table rows, and hide those who don't match the search query
                  for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[5];
                    if (td) {
                      txtValue = td.textContent || td.innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                      } else {
                        tr[i].style.display = "none";
                      }
                    }
                  }
                }
                </script>
        </div>
    </div>
{%- endblock %}
